@font-face {
    font-family: 'Avengeance Heroic Avenger';
    src: url('../assets/Font/AvengeanceHeroicAvengerNormal.woff') format('woff2'),
        url('../assets/Font/AvengeanceHeroicAvengerNormal.woff2') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

