:root {
  --bg-main: #f5f5f5;
  --card-bg: #e6e6e6;
  --text-primary: #0f172a;
  --text-secondary: #475569;
  --green-doom: #2f8500;     /* Green doom*/
  --avengers-silver: #a1a3a5;   /* Avengers silver */
  --plus: #ececec;    /* extra */
}

.char-card {
  border-radius: 20px;
  position: relative;
  overflow: hidden;
  margin-bottom: 30px;
  break-inside: avoid;
  background-color: #111827; /* dark slate */
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.6);
}

.char-card:hover {
  color: var(--avengers-silver);
  box-shadow:
    0 0 0 1px rgba(170, 229, 255, 0.15),
    0 20px 50px rgba(0, 0, 0, 0.8);
  transition: all 0.2s ease-in-out 0s;
}

/* Image */
.char-card img {
  width: 100%;
  margin: auto;
  display: block;
}

/* Content */
.char-content {
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.char-content h2 {
  font-family: 'Avengeance Heroic Avenger';
  letter-spacing: 1px;
  font-size: 1.2rem;
  margin-bottom: 6px;
}

.char-content h2::first-letter {
  text-transform: capitalize;
}

.char-content .alias, .role, .actor {
  color: #94a3b8;
  font-size: large;
  opacity: 0.7;
  display: block;
  margin-bottom: 12px;
  font-family: 'Bebas Neue';
}
.char-description {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50%;
  font-family: 'Bebas Neue';
  box-sizing: border-box;
  scrollbar-width: none;
  background-color: #111827;
  color: white;
  padding: 24px;
  transform: translateY(100%);
  transition: transform 0.45s ease;
  overflow-y: auto;
}
.char-card:hover .char-description {
  transform: translateY(0);
}
/* .char-content .host:hover {
  color: var(--ultra-red);
  transition: all 0.2s ease-in-out 0s;
  font-weight: bold;
} */
.char-content .host::first-letter {
  text-transform: capitalize;
}


/* .char-content p {
  font-family: 'Inter', sans-serif;
  font-size: 0.95rem;
  line-height: 1.5;
  color: #cbd5e1;
} */

.char-content p::first-letter {
  font-weight: bold;
  font-size: 1.1rem;
}